button {
    /* ボタンのサイズ */
    width: 69px;
    height: 69px;
    /* ボタンの文字サイズ */
    font-size: x-large;
    /* 数字部分の背景色 */
    background-color: #dcdcdca4;
    /* ボタンの詳細設定 */
    border: none;
    border-radius: 20px;
    /* クリック時の黒枠を消す */
    outline: none;
  }
/* クリック時に色を濃くする */
button:active {
   background:  #5a5a5a;
 }
 .operator:active {
   background: #2c80b4;
 }
#calc_input{
    border-bottom: #5a5a5a;
}
#calc_input{
    width: 300px;
    height: 50px;
    font-size: 45px;
    text-align: right; /* 文字を右詰めに */
    /* 見た目の詳細設定 */
    background: #ffffff;
    border-top: solid #dcdcdca4 5px;
    border-bottom: solid #dcdcdca4 5px;
    border-right: solid #b6b6b6 6px;
    border-left: solid #b6b6b6 6px;
    border-radius: 5px;
  }
 button:hover {
    background: #747373b9;
  }
#error_msg{
  color:red;
}